<mat-toolbar color="primary" style="min-height: 50px; background-color: #131921;">
  <mat-toolbar-row style="height: 50px; display: flex; align-items: center; justify-content: space-between;">
      <img src="/assets/logo.png" style="height: 40px; padding-left: 10px;">
      <form class="example-form" style="flex-grow: 1; display: flex; align-items: center; margin: 0 20px;">
          <mat-form-field class="example-full-width" style="flex-grow: 1;">
            <input matInput placeholder="Search" value="" style="background-color: white; border: 0; width: 100%;">
          </mat-form-field>
          <button mat-icon-button matSuffix type="submit" aria-label="Search">
              <mat-icon>search</mat-icon>
          </button>
      </form>
      <div style="display: flex; align-items: center;">
        <app-cart-icon></app-cart-icon>
          <a href="/login" style="margin-left: 10px; color: white; text-decoration: none;">
              Login
          </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

 <mat-toolbar color="primary" style="min-height: 35px;background-color: #232f3e;">
    <mat-toolbar-row  style="height:35px;">

       <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
        All
        </button>

   </mat-toolbar-row>
 </mat-toolbar>
<mat-sidenav-container>
    <!-- This is your sidenav -->
    <mat-sidenav style="width: 15%" #sidenav [opened]="true" [mode]="'side'"> 
       <mat-nav-list>
         <a mat-list-item [routerLink]="['products']" routerLinkActive="active-list-item">
           Products
         </a>
         <a mat-list-item [routerLink]="['orders']" routerLinkActive="active-list-item">
           Orders
         </a>
       </mat-nav-list>
    </mat-sidenav>
    <!-- Content or body of your page-->
    <mat-sidenav-content>
        <div style="height: 90vh">
          <router-outlet></router-outlet>
        </div>
     </mat-sidenav-content>
 </mat-sidenav-container>
