<mat-sidenav-container>
    <!-- This is your sidenav -->
    <mat-sidenav style="width: 15%" #sidenav [opened]="true" [mode]="'side'"> 
       <mat-nav-list>
         <a mat-list-item [routerLink]="['products']" routerLinkActive="active-list-item">
           Products
         </a>
         <a mat-list-item [routerLink]="'/provideLink'" routerLinkActive="active-list-item">
           Nav2
         </a>
       </mat-nav-list>
    </mat-sidenav>
    <!-- Content or body of your page-->
    <mat-sidenav-content>
        <div style="height: 90vh">
          <ng-content></ng-content>
        </div>
     </mat-sidenav-content>
 </mat-sidenav-container>

